<html>
    <head>
        <link rel="stylesheet" href="assets/style.css" type="text/css">
    </head>
    <body>
        <h1>Hello World</h1>
        <form method="POST" action="/person">
            First name: <input type="text" id="firstName" name="firstName" />
            <br />
            Last name: <input type="text" id="lastName" name="lastName" />
            <br />
            <input type="submit" value="Submit">
        </form>
    </body>
    </html>